.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    /* overflow: hidden; */
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 34);
}

.slider .slide {
    width: 400px;
}

.slider .slide img {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.slide{
    margin: 3px;
}

#slider{
    border-radius: 0px;
background: linear-gradient(225deg, #939393, #aeaeae);
box-shadow:  -20px 20px 0px #414141,
             20px -20px 0px #ffffff;

}



@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 17));
        transform: translateX(calc(-200px * 17));
    }
}